

.obj-container{
  display: flex;
  flex-direction: row;
  position: relative;
 
}

.obj-imj1-container{
width: 50%;
display: flex;
align-items: center;
justify-content: flex-start;
margin-left: -20%;
margin-top: 8%;
display: flex;



}

.obj-img1{
  width: 120%;


}

.obj-img2-container{
  width: 70%;
  display: flex;
  justify-content: flex-end;
  
}

.obj-img2{
  width: 70%;
}

/* .obj1-text{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
position: absolute;
width: 20%;

left: 30%;
top: 18%;




} */

.obj-imj1-container p{
  color: #484848;
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  flex-direction: column;

}

.obj1-text p:nth-child(even) {
  margin-top: -1rem;
}

.obj1-text p:nth-child(odd) {
  margin-top: 2rem;
}

