
.obj-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 8rem;
    position: relative;
    pointer-events: none;
}
.obj-div1{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.obj-div2{
    width: 100%;
    
}

.obj-img1{
    width: 60%;
    margin-left: -10%;
}

.obj-text{
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-left: -10%;
}

.obj-img2{
    width: 170%;
    margin-left: -5%;
    margin-top: -5%;
    
}

.obj-img2-header{
    color: #484848;
    font-weight: normal;
    font-size: 1.25rem;
   margin-left: 27%;
   margin-bottom: -15%;
    
    
}

.obj-img3-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.obj-img3{
    width: 100%;
    margin-left: -11%;
    margin-top: -12%;
    margin-bottom: 1rem;
}

.obj-img3-header{
    color: #484848;
    font-weight: normal;
    font-size: 1.25rem;
    margin-top: 5%;
}

.obj-text3{
    color: #484848;
    font-weight: normal;
    font-size: 1rem;
    font-family: 'M PLUS 1', sans-serif;
}

.obj-text3-part2{
    color: #484848;
    font-weight: normal;
    font-size: 1rem;
    font-family: 'M PLUS 1', sans-serif;
}

.obj-img4{
    width: 50%;
    position: absolute;
    top: 40%;
    left: 30%;
}

.obj-img5{
    width: 90%;
    position:absolute;
    top: 55%;
    left: 47%;
}

@media (max-width: 767px){
    .obj-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        pointer-events: none;
    }

    .obj-div1{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .obj-img1{
        width: 120%;
        
    }
    .obj-text{
        width: 50%;
        height: 50%;
       margin-left: 42%;
    }
    .obj-img2{
        width: 120%;
        margin-left: 10%;
        margin-top: -2%;
        
        
    }


.obj-img2-header{
    color: #484848;
    font-weight: normal;
    font-size: 1.25rem;
margin-left: 33%;
margin-top: 10%;
    
    
}

    .obj-img3-header{
        color: #484848;
        font-weight: normal;
        font-size: 1.25rem;
       
    }
    .obj-img3-div{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20%;
    }
    .obj-img4{
        width: 100%;
        margin-top: 320%;
        
    }
    
    .obj-img5{
        width: 120%;
        margin-top: 320%;
        margin-left: -70%;
    }
    
    
}
