.vase-container{
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
    
}

.vase1-container{
    display: flex;
    flex-direction: column;
    width: 50%;
   
    
    
}



.vase-text1{
    color: #484848;
    font-weight: normal;
    font-size: 1rem;
    width: 100%;
    margin-left: 108%;
    margin-top: -129.5%;
   
}



.vase2-container{
    display: flex;
    flex-direction: column;
    width: 100%;
   margin-left: 108%;
   margin-top: -93%;
    z-index: 0;
}

.vase3-container{
    display: flex;
    flex-direction: column;
    width: 160%;
   margin-top: -100%;
   margin-left: 35%;
    z-index: 1;
}

.vase2-container{
    display: flex;
    flex-direction: column;
    
    
}

.vase-text2{
    color: #484848;
    font-weight: normal;
    font-size: 1rem;
    width: 60%;
    margin-top: -100%;
    
}

@media only screen and (max-width: 767px) {
    
    .vase1-container {
        
      width: 100%;
    }
    .vase-text1 {
      margin-left: 0;
      margin-top: 0;
    }
    .vase2-container {
      margin-left: 0;
      margin-top: 0;
    }
    .vase3-container {
      margin-left: 0;
      margin-top: 0.5rem;
      width: 100%;
     
      
      
      
     
    }

  
    .vase-text2 {
      width: 100%;
margin-bottom: 2rem;
      
    }

    .vase-text2-container{
        margin-top: 20rem;
    }
   

  

    

  }
  