.protection-container {
  position: relative;
  margin-top: -2%;
}

.protection1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -15%;
  display: flex;
  justify-content: flex-end;
}

.protection2 {
  max-width: 50%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(40%, -65%);
}

.protection-img1 {
  max-width: 100%;
  position: absolute;
}

.protection-img2 {
  width: 90%;
  max-width: 100%;
}

.protection-text {
  color: #484848;
  font-size: 0.8em;
  font-weight: normal;

  font-family: "M PLUS 1", sans-serif;
  text-align: right;
  margin-top: 5%;
  margin-left: 20%;
  width: 70%;
}