* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-body{
  background-color: #DBDBDBE2;
}

.thewitness-body{
  background-color: #DBDBDBE2;
}

.thesteps-body{
  background-color: #DBDBDBE2;
}

.obj-body{
  background-color: #DBDBDBE2;
}

.dead-vase-body{
  background-color: #DBDBDBE2;
}

.broken-city-body{
  background-color: #DBDBDBE2;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem; 
  z-index: 0;
  max-width: 22.5rem;
  max-height: 31.25rem;

 

 
 

 
}

.invasive-modification-body{
  background-color: #080808;
}



.background-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.background-video,
.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.background-img {
  opacity: 0.5;
}

.march-background-img{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}






.title {
  margin-left: 1.7rem;
  display: flex;
  color: #646060;
  font-size: 1.25rem;
  font-weight: normal;
  white-space: nowrap;
}

.info-links {
  color: #afafaf;
  font-size: 1.25rem;
  
  
 
}

.info-links:hover {
  color: #afafaf;
  text-decoration: none;
}

.info-link {
  color: #afafaf;
  text-decoration: none;
  line-height: 1.6rem;
  
}



.title-link {
  color: #646060;
  text-decoration: none;
}

.title-link:hover {
  color: #646060;
  text-decoration: none;
}

ul {
 margin: 0;
 padding: 0;
  list-style: none;
}

.project-link {
  color: #646060;
  text-decoration: none;

  vertical-align: top;

  white-space: nowrap;
}

.project-links {
  text-align: right;

  /* margin-top: 1rem; */
  line-height: 1.6rem;
  
}

.project-link:hover {
  color: #646060;
  text-decoration: none;
}

li {
  font-size: 0.938rem;
  letter-spacing: 0px;
}

.menu-button {
  display: none; 
}

.mobile-menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 0 0 4rem;
}

.current-page {
  color: #afafaf;
}

  
  @media screen and (max-width: 767px) {

  
    .home-container {
      
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem; /* Adds spacing between child elements */
      margin-left: -3rem;
      
    }
    

  
  
    
    .title {
     margin-top: 2rem;
      color: #646060;
      font-size: 1.25rem;
      font-weight: normal;
      white-space: nowrap;
      margin-left: 2rem;
    }
    
      .menu-button {
     
      font-weight: normal;
      font-family: "M PLUS 1", sans-serif;
      display: block;
      margin-left: 2rem;
      margin-top: 1rem;
      background-color: transparent; 
      border: none; 
      color: #646060; 
      font-size: 20px; 
      text-decoration: none; 
      }
      .info-links {
      display: none; 
      text-align: left;
     
      
      }
  
      .info-links.show {
      display: block;
      
      }
  
      .project-links {
      display: none; 
      text-align: left;
      margin-left: 2rem;
      }
  
      .project-links.show {
      display: block; 
      margin-top: 0; 
      padding-left: 0; 
      list-style: none; 
      
      }
      #video-container {
        width: 100%;
        height: auto;
        position: relative;
      }
      #video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .background-video {
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
      
      .background-img {
        position: absolute;
        width: 100%;
        height: 160vh;
        opacity: 0.4;
        object-fit: cover;
      }
      

    

    }

 