.invasiveModification-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    cursor: pointer;
  }
  


    .invasiveModification-header {
    /* margin-right: 30rem; */
    margin-top: 10.6rem;
    color: #646060;
    font-size: 1.25rem;
    font-weight: normal;
    white-space: wrap;
    
    }



    .img1 {
        position: relative;
        width: 70%;
        margin-right: 20%;
        z-index: 0;
    }



    .video-text {
    color: #646060;
    font-size: 1.25rem;
    font-weight: normal;
    width: 35%;
    top: 45%;
    right: 4.5%;
    text-align: end;
    position: absolute;
    }

    .invasiveModification-video {
        position: absolute;
        top: 59%;
        left: 52%;
    z-index: 1;
    
    }

    .card-images {
    object-fit: cover;
    position: absolute;
    left: 18%;
    top:110%;
    z-index: 1;
    padding-bottom: 5%;
    width: 30%;
    }

    .carousel-bullets {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 86rem;
    z-index: 1;
    right: 17%;
    }

    .carousel-bullet {
    background-color: #afafaf;
    border: none;
    
    }

    .active-bullet {
    background-color: #909090;
    transform: scale(1.5);
    }
    .card-text {
    color: #484848;
    left: 50%;
    top: 152.5%;
    text-align: start;
    z-index: 1;
    position: absolute;

    }

    .line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    }



    .category {
    line-height: 1.5;
    margin-bottom: 1rem;
    }

 /* For mobile devices */
@media (max-width: 767px) {
    .invasiveModification-container {
        display: flex;
        flex-direction: column;
        
      }
      
    
    
        .invasiveModification-header {
        
        color: #646060;
        font-size: 1.25rem;
        font-weight: normal;
       
        
        }
    
    
    
        .img1 {
            position: relative;
            width: 100%;
            margin-right: 20%;
            z-index: 0;
        }
    
    
    
        .video-text {
        color: #646060;
        font-size: 1.25rem;
        font-weight: normal;
        width: 90%;
        top: 115%;
        right: 5%;
        text-align: end;
        position: absolute;
        }
    
        .invasiveModification-video {
            position: absolute;
            top: 65%;
            left: 50%;
        z-index: 1;
        
        
        }
    
        .card-images {
        object-fit: cover;
        position: absolute;
        left: 10%;
        top:140%;
        z-index: 1;
        padding-bottom: 5%;
        width: 70%;
       
        }
    
        .carousel-bullets {
        display: flex;
        justify-content: center;
        gap: 0.7rem;
        width: 100%;
        z-index: 2;
        position: absolute;
        top: 192%;
        z-index: 1;
        right: 12%;
        }
    
        .carousel-bullet {
        background-color: #afafaf;
        border: none;
        
        }
    
        .active-bullet {
        background-color: #909090;
        transform: scale(1.5);
        }
        .card-text {
        color: #484848;
        left: 10%;
        top: 200.5%;
        text-align: start;
        z-index: 1;
        position: absolute;
        
    
        }
    
        .line {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        }
    
    
    
        .category {
        line-height: 1.5;
        margin-bottom: 1rem;
        }
    
  }
  
  /* For tablet devices */
  @media (min-width: 768px) and (max-width: 1023px) {
    .invasiveModification-header {
      margin-top: 8rem;
    }
  
    .img1 {
      width: 60%;
      margin-right: 0;
    }
  
    .video-text {
      width: 70%;
      top: 65%;
      right: 15%;
      text-align: end;
    }
  
    .invasiveModification-video {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 250px;
    }
  
    .card-images {
      width: 40%;
      padding-bottom: 30%;
    }
  }
  
  @media (min-width: 1280px) and (max-width: 1366px){

.invasiveModification-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-left: 2rem;
    
  }


  .invasiveModification-header {
    /* margin-right: 30rem; */
    margin-top: 10.6rem;
    color: #646060;
    font-size: 1.25rem;
    font-weight: normal;
    white-space: nowrap;
    
    }



    .img1 {
        position: relative;
        width: 80%;
        margin-right: 20%;
        z-index: 0;
    }



    .video-text {
    color: #646060;
    font-size: 1.25rem;
    font-weight: normal;
    width: 40%;
    top: 40%;
    left: 60%;
    text-align: end;
    position: absolute;
    }

    .invasiveModification-video {
        position: absolute;
        top: 55%;
        left: 55%;
        width: 30%;
    z-index: 1;

    
    
    }

    .card-images {
    object-fit: cover;
    position: absolute;
    left: 15%;
    top:90%;
    z-index: 1;
    padding-bottom: 5%;
    width: 35%;
    }

    .carousel-bullets {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 82rem;
    z-index: 1;
    right: 17%;
    }

    .carousel-bullet {
    background-color: #afafaf;
    border: none;
    
    }

    .active-bullet {
    background-color: #909090;
    transform: scale(1.5);
    }
    .card-text {
    color: #484848;
    left: 52%;
    top: 129.5%;
    text-align: start;
    z-index: 1;
    position: absolute;

    }

    .line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    }



    .category {
    line-height: 1.5;
    margin-bottom: 1rem;
    }
  
  }
 
  @media (min-width: 1920px){
    .invasiveModification-container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
      }
      
    
    
        .invasiveModification-header {
        /* margin-right: 30rem; */
        margin-top: 10.6rem;
        color: #646060;
        font-size: 1.25rem;
        font-weight: normal;
        white-space: wrap;
        
        }
    
    
    
        .img1 {
            position: relative;
            width: 100%;
            margin-right: 20%;
            z-index: 0;
        }
    
    
    
        .video-text {
        color: #646060;
        font-size: 1.25rem;
        font-weight: normal;
        width: 30%;
        top: 50%;
        right: 5%;
        text-align: end;
        position: absolute;
        }
    
        .invasiveModification-video {
            position: absolute;
            top: 60%;
            left: 62%;
            z-index: 1;
            
            
            
        
        }
    
        .card-images {
        object-fit: cover;
        position: absolute;
        left: 25%;
        top:90%;
        z-index: 1;
        padding-bottom: 5%;
        width: 30%;
        }
    
        .carousel-bullets {
        display: flex;
        justify-content: center;
        gap: 0.7rem;
        width: 100%;
        z-index: 2;
        position: absolute;
        top: 160%;
        z-index: 1;
        right: 12%;
        }
    
        .carousel-bullet {
        background-color: #afafaf;
        border: none;
        
        }
    
        .active-bullet {
        background-color: #909090;
        transform: scale(1.5);
        }
        .card-text {
        color: #484848;
        left: 57%;
        top: 133%;
        text-align: start;
        z-index: 1;
        position: absolute;
    
        }
    
        .line {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        }
    
    
    
        .category {
        line-height: 1.5;
        margin-bottom: 1rem;
        }
  }