.broken-container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: auto;
  padding-top: 8rem;
  margin: 2rem;
}

.broken-div1{
  width: 100%;
  height: 50%;
 
}

.broken-div2{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
 
  
  
}

.broken-div-part1{
width: 50%;
text-align: right;
display: flex;
flex-direction: column;
gap: 2rem;
}

.broken-div-part2{
  width: 50%;
}

.broken-div3{
  width: 100%;
  height: 100%;
  margin-top: -5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.brokenimg1{
  width: 100%;
  padding-top: 1rem;
}

.broken-city-header{
  color: #484848;
  font-weight: normal;
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}

.text1-subtext{
  color: #484848;
  font-weight: normal;
  font-size: 1rem;
  
}

.brokenimg3{
  width: 100%;
}

.broken-city-header2{
  color: #484848;
  font-weight: normal;
  font-size: 1.25rem;
 
}

.text2-subtext{
  color: #484848;
     font-weight: normal;
     font-size: 1rem;
   
}

.brokenimg2{
  width: 100%;
  margin-top: -20%;
}

.image2-div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.brojenimg4{
  width: 100%;
}

.broken-city-header3{
  color: #484848;
  font-weight: normal;
  font-size: 1.25rem;
}

.text3-subtext{
  color: #484848;
  font-weight: normal;
  font-size: 1rem;
}

@media screen and (max-width: 767px){
  .broken-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: auto;
    padding-top: 8rem;
  margin-left: 0;
  }

  .broken-div2{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
    
    
  }

  .broken-div-part1{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    }
    .brokenimg3{
      width: 180%;
      margin-top: -50%;
    }
    
}